.product-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-image {
    width: 30%; /* Adjust the width as needed */
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Make the image a rectangle with round borders */
  }
  .location-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Add any additional styling as needed */
  
  